/**
 * Select element
 */

.c-form-select {
    display: block;
    position: relative;

    select,
    &__input {
<<<<<<< HEAD
        @extend .c-form-text;
=======
        @extend .c-form-field;
>>>>>>> e898e6236b7a66772003f10df31bc53d31d0b883
        position: relative;
        height: em(42px);
        padding: 0.075em 2.5em 0 rem($base-spacing-unit / 2 - 4px);
        padding-right: 2.5em;
        appearance: none;

        // Ensures text doesn't turn red in error state
        &.c-form-error {
            color: currentColor !important;
        }

        // hide arrow on modern versions of IE
        &::-ms-expand {
            display: none;
        }
    }

    // Chevron
    &::after {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        content: '';
        pointer-events: none;
        @include chevron(0.75em, 1px, $color-gray, 'down');
    }
}
