/**
 * Form elements
 */

// Label
.c-form-label {
    display: block;
    margin-bottom: 0.5rem;
    clear: both;
    line-height: $base-line-height;

    &--inline {
        display: inline-block;

        & + & {
            margin-left: 1em;
        }
    }

    &__text {
        display: block;
        overflow: hidden;
    }
}



// Date input
.c-form-date {
    position: relative;

    &:before {
        display: inline-block;
        position: absolute;
        top: calc(50%);
        left: rem($base-spacing-unit / 2);
        width: rem(80px);
        transform: translateY(-50%);
        color: #888;
        font-size: rem($base-font-size);
        content: attr(data-date-label);
        pointer-events: none;
        z-index: 2;
    }

    &__input {
        @extend .c-form-field;
        height: em(42px);
        padding-right: 0;
        padding-left: rem(84px);

        // Hide step arrows in Chrome
        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
            appearance: none;
        }
    }
}
