/**
 * Checkbox input
 */

$checkbox-size: 22px;

.c-form-checkbox {
    display: inline-block;
    width: auto;
    margin: 0 rem($half-spacing-unit) rem($half-spacing-unit) 0;
    clear: both;

    &__label {
        display: block;
        width: 100%;
        text-align: left;

        &:before {
            display: inline-block;
        }
    }

    &__text {
        display: inline-block;
        width: calc(100% - 2.75em);
    }

    input[type='checkbox'] {
        position: absolute;
        opacity: 0;

        & + .c-form-checkbox__label {
            &:before {
                display: inline-block;
                position: relative;
                top: -2px;
                width: $checkbox-size;
                height: $checkbox-size;
                margin-right: 0.5em;
                background: $color-white;
                border: 2px solid $color-border;
                text-align: center;
                content: '';
                cursor: pointer;
                vertical-align: top;
                transition: background-color 250ms ease;
            }
        }

        // Checked state
        &:checked {
            & + .c-form-checkbox__label {
                &:before {
                    background-color: $color-white;
                    background-image: url(../images/check.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        // Focus state
        &:focus {
            & + .c-form-checkbox__label {
                outline: thin dotted;
                outline-offset: 0;
            }
        }

        // Disabled state
        &:disabled {
            & + .c-form-checkbox__label {
                &:before {
                    background: $color-gray-light;
                    border-color: lighten($color-gray, 20%);
                }
            }
        }

        & + .c-form-checkbox__label {
            cursor: pointer;

            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}
 