{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "no-unused-vars": [
      1,
      {
        "ignoreSiblings": true,
        "argsIgnorePattern": "res|next|^err"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}
