/**
 * Main
 */

.c-main {
    min-height: 45vh;
    margin: 0 auto;
    background-color: $color-white;
    z-index: z('main');

    // Add clearfix to prevent margin collapsing on last child
    @include clearfix;
}
