/**
 * WYSIWYG Fields
 */

.c-wysiwyg {
    h1 {

    }

    h2 { 

    }

    h3 {

    }

    h4 {

    }

    h5 {

    }

    ul:not([class]), ol:not([class]) {
        @extend .c-list-basic;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    hr {
        @extend .c-hrule;
    }

    blockquote {

    }

    .alignright {
        display: block;
        padding-bottom: 1rem;

        @include mq(width-sm) {
            display: inline;
            padding: 0 0 1rem 1rem;
            float: right;
        }
    }

    .alignleft {
        display: block;
        padding-bottom: 1rem;

        @include mq(width-sm) {
            display: inline;
            padding: 0 1rem 1rem 0;
            float: left;
        }
    }
}