/**
 * Fabricator overrides
 */

.f-body {
    // background-color: #F5F5F5;

    .c-icon {
        font-size: 2rem;
    }

    .c-carousel {
        max-width: 1040px;
    }
}

.f-menu {
    a:not([class]) {
        font-weight: normal !important;
    }
}
