/**
 * Utility Classes
 */

/* Text */
.u-font-size-base {
    font-size: 1em;
}

.u-font-size-sm {
    font-size: $sm-font-size;
}

.u-font-size-xsm {
    font-size: $xsm-font-size;
}

.u-font-plain {
    @include font();
}

.u-text-align-center {
    text-align: center;
}

.u-text-align-right {
    text-align: right;
}

.u-text-align-left {
    text-align: left;
}

.u-text-align-justify {
    text-align: justify;
}

.u-text-bold {
    font-weight: bold !important;
}

.u-letter-spacing-none {
    letter-spacing: 0;
}

.u-uppercase {
    text-transform: uppercase !important;
}


/* Borders */

.u-border-none {
    border: 0;
}

/* Layout */

// Margins
@include generateUnits(margin, 'm', 'u');
@include generateUnits(margin, 'm', 'u', 2);

// Padding
@include generateUnits(padding, 'p', 'u');


/* Layout / Positioning */
.u-float-right {
    float: right !important;
}

/* Visibility */

// Visually hidden
.u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    border: 0;
    overflow: hidden;
}

// Hidden
.u-hidden {
    display: none;
}

// Hide on large screens
.u-hidden\@lg,
.u-hidden-lg {
    @include mq(width-lg) {
        display: none !important;
    }
}

.u-hidden\@sm-lg,
.u-hidden-sm-lg {
    @include mq(0px, width-lg) {
        display: none;
    }
}

// Show only on large screens;
.u-visible-lg {
    display: none !important;

    @include mq(width-lg) {
        display: block !important;
    }
}
